@import './base.css';
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";


@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root{
  --primary-color: #3490dc;
  /* --secondary-color: #ffed4a;
  --danger-color: #e3342f;   */
}